/**
 * Theme Name: nanosoft Child
 * Description: Child theme for the nanosoft
 * Author: LineThemes
 * Template: nanosoft
 */

 .content-bottom-widgets {padding-top: 0px !important;padding-bottom: 0px !important;}

.cd-headline {
    font-size: 3rem;
}


@media only screen and (min-width: 768px){
.cd-headline {
    font-size: 1.5rem;
}
}

 @media only screen and (min-width: 1170px){
.cd-headline {
    font-size: 1rem;
}
}

